body {
	background-color: black;
}
* {
	outline: red 1px solid;
}
.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 50px;
	padding-right: 50px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}
.the-gang,
.the-ghost {
	width: 659px;
	height: 494px;
	display: inline-block;
}
.the-ghost {
	float: right;
}
.scooby-car,
.scooby-ghost,
.scooby-scared {
	display: none;
}
.scooby-casual {
	padding-top: 207px;
	padding-left: 77px;
}
.scooby-car {
	padding-top: 134px;
	padding-left: 124px;
}
.scooby-ghost {
	padding-top: none;
	padding-left: 145px;
}
.scooby-scared {
	padding-top: 194px;
	padding-bottom: 50px;
}

